.details1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 600px;
    background-color: #E9E9E9;
    font-size: 15px;
    font-family: Yekan, sans-serif;
    border-radius: 15px;

}


.title4{
  display: flex;
  flex-direction: column;
   margin-right: 10px;
}

img{
    margin: 20px 50px 20px 10px;
    width:100px;
    object-fit: cover;
    border-radius: 10px;
}

.link_con{
    text-decoration: none;
    color: #32BBCB;
}